PORT==******
MONGODB_URI==******

# JWT Secrets
JWT_SECRET=******
JWT_REFRESH_SECRET=****
JWT_EXPIRES_IN=*****
JWT_REFRESH_EXPIRES_IN=*****

# Cloudinary for File Uploads
CLOUDINARY_CLOUD_NAME=******
CLOUDINARY_API_KEY==******
CLOUDINARY_API_SECRET==******

# Nodemailer / Email Service
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=your_email@gmail.com
# SMTP_PASS=your_email_app_password
# EMAIL_FROM=noreply@yourdomain.com
EMAIL_PASS=******
EMAIL=******
# use this 

# Client URL (for CORS)
CLIENT_URL==******
